* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 200, 200)), to(rgb(41, 49, 51)));
  background: linear-gradient(to right, rgb(255, 200, 200), rgb(41, 49, 51));
}

.body {
  margin: 0;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  padding: 3px;
}

.title,
.info_title {
  font-family: "Oswald", serif;
  color: #000000;
}

.info_text,
.list {
  font-family: "Quicksand", serif;
  color: #00102f;
  font-weight: 500;
  font-size: 20px;
}

.info {
  min-height: 200px;
}
.info_text {
  color: #0d182f;
}

.list {
  max-width: 500px;
  margin: 0 auto;
}
.list_item {
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
}